<div class="container">
  <h2>Sign up</h2>
  <form>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" id="email" class="form-control" [(ngModel)]="user.email" name="login" placeholder="E-mail">
      <p *ngIf="error">
        <span class="error">{{error}}</span>
      </p>
    </div>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" class="form-control" [(ngModel)]="user.firstName" name="login"
             placeholder="First name">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" class="form-control" [(ngModel)]="user.lastName" name="login"
             placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="user.password" name="login"
             placeholder="Password">
    </div>
    <input type="submit" class="btn btn-primary" (click)="signup()" value="Sign up">
    <a class="btn btn-primary login" routerLink="/login">Login</a>
  </form>
</div>
